$primary: #6f73ee;
$primary-800: #8185f9;
$primary-200: #8e91f2;

$secondary: #008de0;
$secondary-900: #039be5;

$surface: #5d6c7b;

$background: #f4f7fb;
$hr: #ecf3ff;
$backgroundCard: #f0f1f5;
$productBackground: #f1f2f6;
$border: #eaebed;

$black: #282739;

$success: #4caf50;
$success-800: #5eb362;
$success-500: #75d14a;

$danger: #ee685f;
