.badge {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;

	&.primary {
		background-color: $primary;

	}

	&.secondary {
		background-color: $secondary;
	}

	&.danger {
		background-color: $danger;
	}

	&.success {
		background: $success-500;
		color: #fff;
	}
}
