.nav {
  display: flex;
  align-items: center;

  &__link {
    font-size: 14px;
    font-weight: 500;
    color: $black;
    transition: color .2s ease;

    &:hover {
      color: $primary;
    }
  }

  &__link + &__link {
    margin-left: 40px;
  }

  &__chip {
    margin-left: 10px;
  }
}